/* app css stylesheet */

body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 90px;
  width: 120px;
}

.phones li {
  clear: both;
  height: 90px;
  padding-top: 15px;
}