body {
	background: #FFF;
	font: 12px/1.5 Arial;
	margin: 0;
	padding: 0;
}

#header,#container,#pagefooter {
	margin: 0 auto;
}

#webName {
	font-size: 30px;
	font-weight: bold;
}

#side {
	background-color: #fff;
	min-height: 500px;
	margin: 3px 8px 0 0px;
}

#content {
	margin: 5px 0 0 0;
	float: left;
	width: 700px;
	min-height: 500px;
}
#newsHeader {
	
}

#pagefooter{
	clear: both;
	background-color: #E5E5E5;;
}

.aSide {
	margin: 0 0 15px 0;
	background-color: #ccc;
}

.side_header {
	background: #EEE none;
	border-color: #EEE;
	padding: 5px 10px;
	height: 25px;
}

.side_header .caption {
	float: left;
	font-size: 14px;
	font-weight:bold;
	padding: 0;
	margin: 0;
}

.side_header .extend {
	float: right;
	padding: 0;
	margin: 0;
}

.headerlogo {
	border: 1px;
	height: 100px;
	margin: 0 auto;
	background-color: #DBEFF9;
	text-align: center;
}

.left_dt {
	width: 100%;
	background-color: #FFF;
}